header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 0 100px 0;
    margin: 50px;
}

h1 {
    font-size: 50px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.atributeAndContent {
    
}

.row {
    padding: 50px 30px;

}

.row section {
    display: flex;
    flex-wrap: wrap;
}

div { 
    margin: 10px;
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.123);

}

p, a, span, div div {
    max-width: 200px;
    
}

.redCSSadd {
    background-color: red;
}

.experiment {
    cursor: pointer;
}

.addingProperties {
    background-color: yellow;
}

.removeElem { 
    color: white;
}

.redP {
    background-color: red;

}

.greenP {
    background-color: green;
}

.blueP {
    background-color: blue;
}

.onMethod, .offMethod {
    display: flex;
    justify-content: center;
    align-items: center;
}

.effectToggle p, .effectToggle div {
    background-color: blue;
}

.effectFade p, .effectSlide p, .effectToggle p {
    cursor: pointer;
    box-shadow: 0 0 5px gray;
}

.animate, .animateMulti, .animateOfOriginal {
    min-width: initial;
    min-height: initial;
}

.animate div, .animateMulti div, .animateOfOriginal div {
    cursor: pointer;
    min-width: initial;
    min-height: initial;
}

.animateObject div {
    background:orange;
    height:10px;
    width:10px;
    position:absolute;
    border-radius: 20px;
    opacity: 0.5;
    max-width: initial;    

    cursor: pointer;
    min-width: initial;
    min-height: initial;
}

.ddButton {
    min-width: initial;
    min-height: initial;
    max-width: initial;
    max-height: initial;
}

.ddButton {
    cursor: pointer;
}

.dropDownMenu ul {
    display: none;
    
}