header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 0 100px 0;
    margin: 50px;
}

h1 {
    font-size: 50px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.atributeAndContent {
    
}

.row {
    padding: 50px 30px;

}

.row section {
    display: flex;
    flex-wrap: wrap;
}

div { 
    margin: 10px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.123);

}

.redCSSadd {
    background-color: red;
}

.experiment {
    cursor: pointer;
}

.addingProperties {
    background-color: yellow;
}

.removeElem { 
    color: white;
}

.redP {
    background-color: red;

}

.greenP {
    background-color: green;
}

.blueP {
    background-color: blue;
}

.onMethod, .offMethod {
    display: flex;
    justify-content: center;
    align-items: center;
}

.effectToggle p, .effectToggle div {
    background-color: blue;
}

.effectFade p, .effectSlide p, .effectToggle p {
    cursor: pointer;
    box-shadow: 0 0 5px gray;
}